*Hygge kodning, med meget simpel kode*

In [7]:
A = 11
B = 25

A*B

275

In [16]:
float(int(1.6)) #FOR COMMENT

1.0

In [18]:
(1.5).as_integer_ratio()

(3, 2)

In [29]:
A="I Am A String"
#int(A)
print(A)

I Am A String

In [31]:
(3+2)==5

True

In [37]:
True|False

True

In [45]:
x=7
if x==5:
    print(x*2)
else:
    print(x*3)

21

In [49]:
list_1 = ["A","B","C"]
list_2 = ["F","J"]
list_2+list_1

['F', 'J', 'A', 'B', 'C']

In [53]:
x=[]
for i in range(7):
    if i==2:
        sq_i=i**3
        x.append(sq_i)
    else:
        sq_i=i**2
        x.append(sq_i)
print(x)

[0, 1, 8, 9, 16, 25, 36]

In [56]:
a= [i**2 for i in range(4)]
print (a)

[0, 1, 4, 9]

In [70]:
def sq_plus_1(x):
    x_sq = x**2
    return x_sq+1

sq_plus_1(27)

730

In [85]:
import numpy as np

row1=[1,2]
row2=[3,4]
table=[row1,row2]


arr = np.array(table)

In [84]:
arr.T

array([[1, 3],
       [2, 4]])

In [87]:
arr+5

array([[6, 7],
       [8, 9]])

In [90]:
a="5"
print(int(a))

5